/*
nav { display: none; }
.header { display: none; }
body {
    margin: 0.5cm;
    font-size: 6pt;
}
.container {
    margin: 0.5cm;
}
*/
.cfcc-card {
    height: 8cm;
    min-height: 7.5cm;
    width: 100%;
    min-width: 25cm;
    margin-bottom: 0.5cm;
    page-break-inside: avoid;
}
.book-block {
    font-size: 9pt;
}
@page {
    margin: 0.425cm 0.425cm;
    size: 28cm 10.2cm;
}

/* Print styling  from: http://daneveland.com/content/printing-bootstrap */

[class*="col-lg-"] {
    float: left;
}

[class*="col-md-"] {
    float: left;
}

[class*="col-sm-"] {
    float: left;
}

[class*="col-xs-"] {
    float: left;
}

.col-lg-12, .col-md-12, .col-sm-12, .col-xs-12 {
    width:100% !important;
}

.col-lg-11, .col-md-11, .col-sm-11, .col-xs-11 {
    width:91.66666667% !important;
}

.col-lg-10, .col-md-10, .col-sm-10, .col-xs-10 {
    width:83.33333333% !important;
}

.col-lg-9, .col-md-9, .col-sm-9, .col-xs-9 {
    width:75% !important;
}

.col-lg-8, .col-md-8, .col-sm-8, .col-xs-8 {
    width:66.66666667% !important;
}

.col-lg-7, .col-md-7 .col-sm-7, .col-xs-7 {
    width:58.33333333% !important;
}

.col-lg-6, .col-md-6, .col-sm-6, .col-xs-6 {
    width:50% !important;
}

.col-lg-5, .col-md-5, .col-sm-5, .col-xs-5 {
    width:41.66666667% !important;
}

.col-lg-4, .col-md-4, .col-sm-4, .col-xs-4 {
    width:33.33333333% !important;
}

.col-lg-3, .col-md-3, .col-sm-3, .col-xs-3 {
    width:25% !important;
}

.col-lg-2, .col-md-2, .col-sm-2, .col-xs-2 {
    width:16.66666667% !important;
}

.col-lg-1, .col-md-1, .col-sm-1, .col-xs-1 {
    width:8.33333333% !important;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left !important;
}

body {
    margin: 0;
    padding: 0 !important;
    min-width: 768px;
    font-size: 10px;
}

.container {
    width: auto;
    min-width: 750px;
}

a[href]:after {
    content: none;
}

.noprint,
div.alert,
header,
.group-media,
.btn,
.footer,
form,
#comments,
.nav,
ul.links.list-inline,
ul.action-links {
    display:none !important;
}