.cfcc-card {
    border: thick solid black;
    margin: 8px 0;
}
.cfcc-card tr td {
    vertical-align: top;
    padding: 4px;
}
.cfcc-required {
    color: white !important;
    background-color: green !important;
}
.cfcc-choice {
    color: white !important;
    background-color: blue !important;
}
.cfcc-optional {
    color: white !important;
    background-color: yellow !important;
}
.card-block {
    margin: 4px;
}
.course-block {
    width: 50%;
    padding-right: 8px;
}
.book-block {
    padding-left: 8px;
    border-left: thick solid black;
}
.book-info {
    padding: 4px;
    min-height: 7em;
    border: thin solid black;
}
.book-spacer {
    height: 7em;
    border: none;
}
.cfcc-bottom-text {
    display:table-cell;
    vertical-align: bottom;
}
/* Use the next two together */
.book-title {
    width: 566px;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@media screen {
    body {
        padding-top: 50px;
    }
    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }
    .starter-template-alt {
        padding: 40px 15px;
    }
    .cfcc-card {
        width: 100%;
        height: 390px;
    }
    #report-filter {
        padding-top: 8px;
    }

    /* Style for the Messages Editor */
    #messages_table{
        margin:30px auto 30px auto;
        border-spacing: 0;
        border-collapse: collapse;
    }

    #messages_table td{
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding:10px;
    }

    #messages_table input{
        font-family: Tahoma, Geneva, sans-serif;
    }


    #add_message_table{
        margin:30px auto 30px auto;
        border-spacing: 0;
        border-collapse: collapse;
    }

    #add_message_table td{
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding:10px;
    }

}